a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Oxygen', sans-serif;
}

#logout {
    margin-top: 5px;
}

#menwah {
    background-color: rgba(220, 220, 220, 0.5);
    display: flex;
    height: 56px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-item {
    color: blue;
    font-family: 'Oxygen', sans-serif;
}
